@using System.Configuration
@{
    Layout = null;
    string token = (string)Model;
}
<html dir="ltr">
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Responsive and information -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="JSpot - RyuseiCode">
        <meta name="author" content="Ricardo Sanchez Romero - RyuseiCode">
        <!-- Title -->
        <title>JSPOT</title>
        <!-- Styles -->
        @Styles.Render("~/Assets/Xtreme/Style")
        @Styles.Render("~/Assets/Ryusei/Style")
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Main Wrapper* -->
        <div class="main-wrapper">
            <!-- ============================================================== -->
            <!--                            Preloader                           -->
            <!-- ============================================================== -->
            <div class="preloader">
                <div class="lds-ripple">
                    <div class="lds-pos"></div>
                    <div class="lds-pos"></div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!--                         Validation box                         -->
            <!-- ============================================================== -->
            <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(/Assets/Xtreme/images/big/auth-bg.jpg) no-repeat center center;">
                <div class="auth-box">
                    <div id="ValidatePanel">
                        <div class="logo">
                            <span class="db"><img src="~/Assets/JSpot/images/logo_small.png" alt="logo" /></span>
                        </div>
                        <div class="row mt-3">
                            <div class="card mt-0 mb-0" style="background: linear-gradient(to right,#BB1542 0,#0E215B 100%);">
                                <div class="card-body" id="InformationPanel">
                                    <h3 class="card-title text-white" data-i18n="[html]Ryusei.ValidateUser.Title"></h3>
                                    <div class="row mt-4 mb-3">
                                        <!-- col -->
                                        <div class="col-sm-12 col-lg-12">
                                            <div class="temp d-flex align-items-center flex-row">
                                                <div class="display-5 text-white"><i class="fas fa-cog fa-spin"></i></div>
                                                <div class="ml-2">
                                                    <h4 class="mb-0 text-white" data-i18n="[html]Ryusei.ValidateUser.Description"></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Register Error -->
                        <div class="row">
                            <div class="col-md-12">
                                <p style="color:#e5603b; font-size: 12px !important" id="ValidateError"></p>
                            </div>
                        </div>

                    </div>

                    <div id="SuccessPanel">
                        <div class="logo">
                            <span class="db"><img src="~/Assets/JSpot/images/logo_small.png" alt="logo" /></span>
                        </div>
                        <div class="row mt-3">
                            <div class="card mt-0 mb-0" style="background: linear-gradient(to right,#BB1542 0,#0E215B 100%);">
                                <div class="card-body" id="InformationPanel">
                                    <h3 class="card-title text-white" data-i18n="[html]Ryusei.ValidateUser.TitleSuccess"></h3>
                                    <div class="row mt-4 mb-3">
                                        <!-- col -->
                                        <div class="col-sm-12 col-lg-12">
                                            <div class="temp d-flex align-items-center flex-row">
                                                <div class="display-5 text-white"><i class="fas fa-check-circle"></i></div>
                                                <div class="ml-2">
                                                    <h4 class="mb-0 text-white" data-i18n="[html]Ryusei.ValidateUser.DescriptionSuccess"></h4>
                                                    <a href="/Auth/Login" class="text-white op-5" data-i18n="[html]Ryusei.ValidateUser.LoginReturn"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- *Main Wrapper -->
        <!-- Base Botton Scripts -->
        @Scripts.Render("~/Assets/Xtreme/Script/BaseBottom")
        <!-- Base URL -->
        <script>
            var AppHost = '@ConfigurationManager.AppSettings["AppHost"]';
            var ApiGateway = '@ConfigurationManager.AppSettings["ApiGateway"]';
        </script>
        <!-- Elysium Script -->
        @Scripts.Render("~/Assets/Elysium/Scripts")
        <!-- I18N -->
        @Scripts.Render("~/Assets/i18n/Scripts")
        <!-- Entry point of application -->
        <script>
            $(document).ready(function () {
                // Define controller
                var controller = Elysium.Implements(new Elysium.App.Controllers.Areas.Auth.ValidateUserController({
                    Constants: {
                        Token : '@token'
                    },
                    UI: {
                        Form: "#Registerform",
                        ValidatePanel: "#ValidatePanel",
                        SuccessPanel: "#SuccessPanel",
                        ValidateError: "#ValidateError"
                    }
                }), [Elysium.App.Interfaces.IController]);

                // Initialize Broadcast Channel Global
                Elysium.GlobalObj["BrdcstChGlobal"] = new Elysium.App.Globals.BrdcstChGlobals({});
                Elysium.GlobalObj["BrdcstChGlobal"].Initialize();
                // Initialize Language Global
                Elysium.GlobalObj["i18nGlobal"] = new Elysium.App.Globals.I18nGlobals({ Event: "click" });
                Elysium.GlobalObj["i18nGlobal"].UpdateControllers([controller]);
                Elysium.GlobalObj["i18nGlobal"].Initialize();
                // Initialize Validators global
                Elysium.GlobalObj["ValidatorGlobal"] = new Elysium.App.Globals.ValidatorGlobals({});
                Elysium.GlobalObj["ValidatorGlobal"].Initialize();
                // Initialize the controller
                controller.Initialize();
            });
        </script>
    </body>
</html>
