@using System.Configuration
@{
    Layout = null;
}
<html dir="ltr">
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Responsive and information -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="JSpot - RyuseiCode">
        <meta name="author" content="Ricardo Sanchez Romero - RyuseiCode">
        <!-- Title -->
        <title>JSPOT</title>
        <!-- Styles -->
        @Styles.Render("~/Assets/Xtreme/Style")
        @Styles.Render("~/Assets/Ryusei/Style")
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <!-- Main Wrapper* -->
        <div class="main-wrapper">
            <!-- ============================================================== -->
            <!--                            Preloader                           -->
            <!-- ============================================================== -->
            <div class="preloader">
                <div class="lds-ripple">
                    <div class="lds-pos"></div>
                    <div class="lds-pos"></div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!--                          Recover Box                           -->
            <!-- ============================================================== -->
            <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(/Assets/Xtreme/images/big/auth-bg.jpg) no-repeat center center;">
                <div class="auth-box">
                    <!-- Recover Panel -->
                    <div id="RecoverPanel">
                        <div class="logo">
                            <span class="db"><img src="~/Assets/JSpot/images/logo_small.png" alt="logo" /></span>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <form class="form-horizontal mt-3" id="RecoverPasswordForm">
                                    <!-- Email -->
                                    <div class="form-group row ">
                                        <div class="col-12 ">
                                            <input class="form-control form-control-lg ryusei-text-uppercase"
                                                   id="Email"
                                                   name="Email"
                                                   type="text"
                                                   placeholder=""
                                                   aria-label="Correo electronico"
                                                   aria-describedby="basic-addon1"
                                                   data-parsley-type-message=""
                                                   data-parsley-trigger="change"
                                                   required
                                                   data-parsley-required-message=""
                                                   data-parsley-minlength="10"
                                                   data-parsley-minlength-message=""
                                                   data-parsley-maxlength="100"
                                                   data-parsley-maxlength-message=""
                                                   data-i18n="[placeholder]Ryusei.Recover.Email;
                                                              [aria-label]Ryusei.Recover.Email;
                                                              [data-parsley-type-message]Ryusei.Recover.ValidEmail;
                                                              [data-parsley-required-message]Ryusei.Recover.RequiredEmail;
                                                              [data-parsley-minlength-message]Ryusei.Recover.MinLenghtEmail;
                                                              [data-parsley-maxlength-message]Ryusei.Recover.MaxLenghtEmail;"
                                                   data-elysium-iform-uppercase />
                                        </div>
                                    </div>
                                    <div class="form-group row" style="margin-bottom: 0">
                                        <div class="col-md-12">
                                            <p style="margin-bottom: 0" data-elysium-register-email-error></p>
                                        </div>
                                    </div>
                                    <!-- Google recaptcha -->
                                    <div class="form-group row ">
                                        <div class="col-12 ">
                                            <div class="g-recaptcha" data-sitekey="@ConfigurationManager.AppSettings["Google::RecaptchatKey"]"></div>
                                        </div>
                                    </div>
                                    <!-- Recover button -->
                                    <div class="form-group text-center">
                                        <div class="col-xs-12 pb-3">
                                            <button class="btn btn-block btn-lg btn-info" type="submit" data-i18n="Ryusei.Recover.Save"></button>
                                        </div>
                                    </div>
                                    <!-- Recover Error -->
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <p style="color:#e5603b; font-size: 12px !important" id="RecoverError"></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Success Panel -->
                    <div id="SuccessPanel">
                        <div class="logo">
                            <span class="db"><img src="~/Assets/JSpot/images/logo_small.png" alt="logo" /></span>
                        </div>
                        <div class="row mt-3">
                            <div class="card mt-0 mb-0" style="background: linear-gradient(to right,#BB1542 0,#0E215B 100%);">
                                <div class="card-body">
                                    <h4 class="card-title text-white" data-i18n="[html]Ryusei.Recover.Success"></h4>
                                    <div class="row mt-4 mb-3">
                                        <!-- col -->
                                        <div class="col-sm-12 col-lg-12">
                                            <div class="temp d-flex align-items-center flex-row">
                                                <div class="display-5 text-white"><i class="fas fa-check-circle"></i></div>
                                                <div class="ml-2">
                                                    <h3 class="mb-0 text-white" data-i18n="[html]Ryusei.Recover.Info"></h3>
                                                    <a href="/Auth/Login" class="text-white op-5" data-i18n="[html]Ryusei.Recover.LoginReturn"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Base Botton Scripts -->
        @Scripts.Render("~/Assets/Xtreme/Script/BaseBottom")
        <!-- Base URL -->
        <script>
            var AppHost = '@ConfigurationManager.AppSettings["AppHost"]';
            var ApiGateway = '@ConfigurationManager.AppSettings["ApiGateway"]';
        </script>
        <!-- Elysium Script -->
        @Scripts.Render("~/Assets/Elysium/Scripts")
        <!-- I18N -->
        @Scripts.Render("~/Assets/i18n/Scripts")
        <!-- Entry point of application -->
        <script>
            $(document).ready(function () {
                // Define controller
                var controller = Elysium.Implements(new Elysium.App.Controllers.Areas.Auth.RecoverController({
                    UI: {
                        Form: {
                            Selector: "#RecoverPasswordForm"
                        },
                        Input: {
                            Email: "#Email"
                        },
                        Button: {
                            Submit: "#RecoverPasswordForm button[type=submit]"
                        },
                        Label: {
                            RecoverError: "#RecoverError"
                        },
                        Panel: {
                            Recover: "#RecoverPanel",
                            Success: "#SuccessPanel"
                        }
                    }
                }), [Elysium.App.Interfaces.IController]);
                // Initialize Broadcast Channel Global
                Elysium.GlobalObj["BrdcstChGlobal"] = new Elysium.App.Globals.BrdcstChGlobals({});
                Elysium.GlobalObj["BrdcstChGlobal"].Initialize();
                // Initialize Language Global
                Elysium.GlobalObj["i18nGlobal"] = new Elysium.App.Globals.I18nGlobals({ Event: "click" });
                Elysium.GlobalObj["i18nGlobal"].UpdateControllers([controller]);
                Elysium.GlobalObj["i18nGlobal"].Initialize();
                // Initialize Validators global
                Elysium.GlobalObj["ValidatorGlobal"] = new Elysium.App.Globals.ValidatorGlobals({});
                Elysium.GlobalObj["ValidatorGlobal"].Initialize();
                // Initialize the controller
                controller.Initialize();
            });
        </script>
    </body>
</html>


